body {
	background-color: #1a1a1a;
    color: white;
    transition: 0.5s;
}


body.light-theme {
	background-color: #ffffff;
	color: #000000;
}

.contact-form.light-theme{
    background-color: #808080;
}



.form-info.light-theme, textarea.light-theme, .send-button.light-theme, .contact-info.light-theme, .more-info.light-theme{
    background-color: #C0C0C0;
    color: black;
}

.main1{
    height: 92vh;
}

.main2{
    height: 92vh;
}


.contact-us{
    font-size: 40px;
    font-weight: lighter;
    font-family: "sf_pro_displayregular";
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.contact-heading{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: "sf_pro_displayregular";
    text-align: center;
}
.contact-form{
    background-color: black;
    border-radius: 20px;
    width: 35%;
    height: 75%;
    text-align: center;
    align-items: center;
    border: none;
    margin-left: 3%;
    overflow: hidden;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
.form-info{
    background-color:#5a5a5a;
    border: 0px solid;
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin-top: 6%;
    align-items: center;
    border: none;
    padding: 5%;
    color: #ffffff;
}

textarea{
    background-color:#5a5a5a;
    border-radius: 15px;
    width: 80%;
    height: 100px;
    margin-top: 6%;
    align-items: center;
    border: none;
    padding: 5%;
    color: #ffffff;
}
.send-button{
    background-color: #5a5a5a;
    border-radius: 10px;
    margin-top: 6%;
    margin-left: 60%;
    color: white;
    border: none;
    height: 40px;
    width: 20%;
    align-items: left;
}

.send-button:hover{
    cursor: pointer;
}
.contact-info, .more-info{
    background-color: #5a5a5a;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    font-weight: lighter;
}
.contact-info{
    margin-bottom: 50px;
}
.more-info{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 321px) and (max-width: 760px){
    .contact-us{
        margin-left: 25%;
    }
    .contact-form{
        width: 80%;
        margin-left: 10%;
    }
    .main2{
        margin-bottom: 10%;
    }
    .contact-info{
        margin-bottom: 20px;
    }
}