html {
	background-color: #1a1a1a;
	font-family: "sf_pro_displayregular";
	color: white;
}
.contact-us{
    font-size: 48px;
    font-weight: lighter;
    font-family: "sf_pro_displayregular";
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.contact-heading{
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: "sf_pro_displayregular";
    text-align: center;
}
.contact-form{
    background-color: black;
    border-radius: 20px;
    width: 35%;
    height: 400px;
    text-align: center;
    align-items: center;
    border: none;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#message{
    height: 100px;
    text-align: start;
}
.form-info{
    background-color:rgb(85, 79, 79);
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    align-items: center;
    border: none;
    padding-left: 30px;
}
button{
    background-color:rgb(85, 79, 79);
    border-radius: 10px;
    margin-left: 60%;
    margin-top: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 20%;
    align-items: left;
}
.contact-info, .more-info{
    background-color:rgb(85, 79, 79);
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
}
.more-info{
    margin-bottom: 100px;
}

@media only screen and (min-width: 321px) and (max-width: 760px){
    .contact-form{
        width: 80%;
    }
}