body {
	overflow-x: hidden;
	background-color: #151515;
	color: #ffffff;
}

body.light-theme {
	background-color: #ffffff;
	color: #000000;
}

.home-icon {
	width: 375px;
	height: 375px;
	text-align: center;
}
.domain-icon {
	width: 400px;
	height: 400px;
	text-align: ;
}
.home-logo {
	width: 400px;
	height: 80px;
	position: relative;
	bottom: 70px;
}
#tagline {
	position: relative;
	bottom: 70px;
	letter-spacing: 0.2em;
}
.heading-home {
	font-size: 96px;
	font-family: "sf_pro_displayregular";
	font-style: normal;
	font-weight: bold;
	line-height: 100px;
	text-align: center;
	letter-spacing: 0.06em;
	margin-bottom: 5px;
}
.description-home {
	font-family: "sf_pro_displayregular";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.06em;
	/* color: #B9B9B9; */
}
.button-home {
	width: 120px;
	height: 40px;
	font-size: 18px;
	font-family: "sf_pro_displayregular";
	letter-spacing: 0.06em;
	background-color: #1784ff;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	margin-top: 30px;
	margin-bottom: 50px;
}

.about-home,
.projects-home,
.events-home,
.team-home, 
.domain-home {
	text-align: center;
    padding-top: 5%;
    height: 92vh;
}

.domain-page {
	display: grid;
	grid-template-columns: auto auto auto;
	padding-bottom: 100px;
  }
  .domain {
	font-size: 18px;
	text-align: center;
	padding-top: 80px;
	
  }
  .domain-icon{
	width: 384px;
	height: 320px;

}
.description-domain{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: -50px;
}