*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "sf_pro_displayregular";
}

.faq1{
    width: 45%;
    float: left;
}

.faq2{
    width: 45%;
    float: right;
}

.faq-heading{
    font-size: 48px;
    padding-bottom: 20px;
}
.faq-page{
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}
.wrapper{
    padding: 5%;
    align-items: center;
    display: inline-block;
}
.accordion-header{
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    padding: 25px;
    color: white;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-bottom: 20px;
}
.accordion-wrap:first-child .accordion-header{
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
}
.accordion-wrap:last-child .accordion-header{
    border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid transparent;
}
.accordion-header:hover{
    color:rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.6);
}
.accordion-wrap .accordion-header:hover:before,
.accordion-wrap .accordion-header:hover:after{
    background-color:rgba(255,255,255,0.6);
}
.accordion-wrap:last-child .accordion-header:hover{
    border-bottom: 2px solid transparent;
}
.accordion-wrap .accordion-header::before,
.accordion-wrap .accordion-header::after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: white;
}
.accordion-wrap .accordion-header::after{
    transform: rotate(-90deg);
    transition:  all 0.5s ease;
}
.accordion-body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background-color: #1a1a1a;
    overflow: hidden;
}
.accordion-body p{
    padding-left: 15px;
    font-size: 15px;
    line-height: 22px;
    color: white;
}

.accordion-header .active{
    color: white;
    border-color: white;
}

.accordion-wrap:last-child .accordion-header.active{

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accordion-wrap .accordion-header.active::before,
.accordion-wrap .accordion-headera.active::after{
    background-color: white;
}
.accordion-header.active::after{
    transform: rotate(0deg);
}
.accordion-header.active + .accordion-body{
    height: 100px;
}
.accordion-header.active + #q2{
    height: 200px;
}