*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "sf_pro_displayregular";
}

body.light-theme .accordion-header{
    background-color: #C4C4C4;
}
body.light-theme .accordion-header:hover{
    color:rgba(0,0,0,0.6);
    border-color: rgba(0, 0, 0, 0.6);
}
body.light-theme .accordion-wrap .accordion-header:hover:before,
body.light-theme .accordion-wrap .accordion-header:hover:after{
    background-color:rgba(0, 0, 0,0.6);
}
body.light-theme .accordion-wrap .accordion-header::before,
body.light-theme .accordion-wrap .accordion-header::after{
    background-color: rgb(0, 0, 0);
}
body.light-theme .accordion-body{
    background-color: #C4C4C4;
}
.faq1{
    width: 45%;
    float: left;
}

.faq2{
    width: 45%;
    float: right;
}

.faq-heading{
    font-size: 48px;
}
.faq-page{
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}
.wrapper{
    padding: 5%;
    align-items: center;
    display: inline-block;
}
.accordion-header{
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    padding: 25px;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.accordion-wrap:first-child .accordion-header{
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
}
.accordion-wrap:last-child .accordion-header{
    border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid transparent;
}
.accordion-header:hover{
    color:rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.6);
}
.accordion-wrap .accordion-header:hover:before,
.accordion-wrap .accordion-header:hover:after{
    background-color:rgba(255,255,255,0.6);
}
.accordion-wrap:last-child .accordion-header:hover{
    border-bottom: 2px solid transparent;
}
.accordion-wrap .accordion-header::before,
.accordion-wrap .accordion-header::after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: white;
}
.accordion-wrap .accordion-header::after{
    transform: rotate(-90deg);
    transition:  all 0.5s ease;
}
.accordion-body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background-color: #1a1a1a;
    overflow: hidden;
}
.accordion-body p{
    margin-top: -5px;
    padding-left: 15px;
    font-size: 15px;
    line-height: 22px;
    /* color: white; */
}
.accordion-header .active{
    /* color: white;
    border-color: white; */
}
.accordion-wrap:last-child .accordion-header.active{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accordion-wrap .accordion-header.active::before,
.accordion-wrap .accordion-header.active::after{
    /* background-color: white; */
}
.accordion-header.active::after{
    transform: rotate(0deg);
}
.accordion-header.active + .accordion-body{
    height: 100px;
}
.accordion-header.active + #q1{
    height: 180px;
}
@media screen and (max-width: 320px){
    .faq1, .faq2{
        width: 100%;
    }
    .faq-heading{
        font-size: 28px;
        padding-bottom: 20px;
    }
    .accordion-header.active + #q1{
        height: 250px;
    }
    .accordion-header.active + .accordion-body{
        height: 150px;
    }
}

@media screen and (min-width: 321px) and (max-width: 760px) {
    .faq1, .faq2{
        width: 100%;
    }
}

