html {
	font-size: 62.5%;
}

body {
	background-color: #151515;
	font-family: "sf_pro_displayregular";
	overflow-x: hidden;
	color: #ffffff;
	transition: 0.5s;
}

body.light-theme {
	background-color: #ffffff;
	color: black;
}

.main {
	display: flex;
	text-align: center;
	align-items: center;
	height: 600px;
}

.partners-icon {
	width: 50%;
	float: left;
	padding-left: 15%;
}

.hand-icon {
	align-items: center;
	width: 400px;
	height: 400px;
}

.partners-info {
	text-align: center;
	width: 50%;
	letter-spacing: 1px;
	font-size: 24px;
	margin-right: 250px;
	float: right;
}
.partners-heading {
	letter-spacing: 2px;
	font-size: 50px;
	font-family: "sf_pro_displayregular";
	font-weight: bolder;
	font-size: 72px;
	line-height: 115px;
	text-align: center;
	letter-spacing: 0.06em;
}
.partners-text {
	font-family: "sf_pro_displayregular";
	font-weight: 400;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.06em;
}

.partners {
	width: 80%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10%;
}

.icon {
	max-width: 25rem;
	max-height: 25rem;
}

.card {
	width: 33.33%;
	text-align: center;
	margin: 5% 0;
}

@media only screen and (min-width: 321px) and (max-width: 760px) {
	.icon {
		max-width: 15rem;
		max-height: 15rem;
	}
	.card {
		width: 100%;
		margin: 20% 0;
	}
	.partners-icon {
		float: center;
		width: 100%;
		padding-top: 5%;
		padding-left: 0%;
	}
	.partners-info {
		width: 100%;
		align-content: center;
		margin-right: 0px;
	}
	.partners-heading {
		font-size: 50px;
	}
	.partners-text {
		font-size: 18px;
	}
	.main {
		display: block;
	}
	.hand-icon {
		align-items: center;
		width: 70%;
		height: 70%;
	}
}
