*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #1A1A1A;
}
.partners-content{
    justify-content: center;
    text-align: center;
    padding-top: 4%;
    padding-left: 6%;

    height: 92vh;
}
.partner{
    display: flex;
}
.partners-heading{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}
.partners-text{
    color: #DADADA;
}
.hand-icon{
    align-items: center; 
}
.partner-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    font-size: 24px;
}

@media screen and (min-width: 768px)
{
    .leftside, .rightside{
        height: 100vh;
    }
}