html,
body {
	width: 100%;
	background-size: cover;
	height: 100vh;
}

#loader {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 999;
	overflow: visible;
	/* background: #1a1a1a url('https://cssauthor.com/wp-content/uploads/2018/06/Bouncy-Preloader.gif') no-repeat center center; */
	background-color: black;
	padding-top: 40vh;
}

.gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}


@media screen and (max-width: 320px) {
	.gif{
		width: 30%;
	}
}
  
@media screen and (min-width: 321px) and (max-width: 760px) {
	.gif{
		width: 30%;
	}
}
  
@media only screen and (min-width: 761px) and (max-width: 1224px) {
	.gif{
		width: 20%;
	}
}
  



