body {
	background: #151515;
	color: #e5e5e5;
	padding: 0;
	margin: 0;
	font-family: "sf_pro_displayregular";
	overflow-x: hidden;
	transition: 0.5s;
}
body.light-theme {
	background-color: #ffffff;
	color: #000000;
}
.tap{

}
.tap-image{
	width: 50%;
	float: left;
}
.tap-text{
	float: right;
	width: 50%;
}
.tap h1, .adgi h1{
	font-size: 85px;
}
.tap-bullets ul{
	list-style-type: disc;
	color: white;
}
.adge-bullets ul{
	list-style-type: disc;
	color: white;
}
.icon {
	max-height: 40px;
	max-width: 40px;
	margin-right: 2%;
}
.photo {
	height: 93vh;
}

.adge-text{
	width: 50%;
	margin: 10%;
	float: left;
}
.adge-text h1{
	font-size: 85px;
}
.adge-image img{
	width: 50%;
	float: right;
	margin-top: -35%;
}
.adge .tagline{
	color:  #E71450;
	font-size: 32px;
}
.adge-bullets{
	list-style-type: disc;
}

.adgi-image img{
	width: 50%;
}
.adgi-text{
	float: right;
	margin-top: -35%;
	margin-right: 100px;
}
