body {
	background: #151515;
	color: #e5e5e5;
	padding: 0;
	margin: 0;
	font-family: "sf_pro_displayregular";
	overflow-x: hidden;
	transition: 0.5s;
}
body.light-theme {
	background-color: #ffffff;
	color: #000000;
}
a {
	text-decoration: none;
}
.adge-image-mobile{
    display: none;
}
.tap-image img{
	width: 50%;
	float: left;
}
.tap-text{
	float: right;
	width: 50%;
}
.tap h1, .adgi h1{
	font-size: 85px;
}
h1.project-title {
    font-size: 85px;
    font-weight: 1000;
	letter-spacing: 6px;
}
.adgi-text h2{
    font-size: 80px;
    font-weight: 1000;
    letter-spacing: 6px;
    line-height: 80px;
}
p.project-sub{
	margin-top: -20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* color: #0071ee; */
    padding-bottom: 4px;
    background: linear-gradient(to right, #0071ee, #227fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul.tap-bullets{
    margin-left: 18px;
    font-size: 18px;
}
ul.tap-bullets li:hover{
    cursor: text;
	transform: scale(1);
	-webkit-transform: scale(1);
    font-weight: normal;
}
ul.tap-bullets li::before {
    content: "\2022";
    color: #227fff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 18px;
}
.icon {
	max-height: 40px;
	max-width: 40px;
	margin-right: 2%;
}
.adge{
    height: 92vh;
    margin-bottom: 50vh;
}

.adge-text{
	width: 50%;
	margin: 10%;
	float: left;
}
.adge-text h1{
	font-size: 85px;
}
.adge-image img{
	width: 60%;
	float: right;
	margin-top: -40%;
}
.adge p.project-sub{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* color: #0071ee; */
    padding-bottom: 4px;
	background: linear-gradient(to right, #e81738, #e94414);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul.adge-bullets{
    margin-left: 18px;
    font-size: 18px;
}
ul.adge-bullets li:hover{
    cursor: text;
	transform: scale(1);
	-webkit-transform: scale(1);
    font-weight: normal;
}
ul.adge-bullets li::before {
    content: "\2022";
    color: #E71450;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 18px;
}


.adgi{
    /* margin-top: -20%; */
    height: 92vh;
}
.adgi-image img{
    width: 45%;
    margin-top: 10%;
}
.adgi-text{
    float: right;
    width: 48%;
	margin-top: -30%;
	margin-right: 150px;
}
.adgi p.project-sub{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* color: #0071ee; */
    padding-bottom: 4px;
	background: linear-gradient(to right, #b70000, #f75f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul.adgi-bullets{
    margin-left: 18px;
    font-size: 18px;
}
ul.adgi-bullets li:hover{
    cursor: text;
	transform: scale(1);
	-webkit-transform: scale(1);
    font-weight: normal;
}
ul.adgi-bullets li::before {
    content: "\2022";
    color: #dc2525;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 18px;
}

.tap-image-mobile{
    display: none;
}
.adge-image-mobile{
    display: none;
}
.adgi-image-mobile{
    display: none;
}

@media screen and (max-width: 320px){
    .tap{
        text-align: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .tap-image{
        display: none;
    }
    .tap-image-mobile{
        display: block;
        margin-bottom: 20%;
    }
    ul.tap-bullets li::before{
        display: none;
    }
    ul.tap-bullets{
        float: center;
        text-align: center;
    }
    #point1{
        margin-left: 20%;
    }
    .tap-text{
        width: 100%;
        margin-top: -45%;
        text-align: center;
    }
    h1.project-title {
        font-size: 48px;
        font-weight: 1000;
        letter-spacing: 6px;
        text-align: center;
        align-items: center;
    }
    .adgi-text h2{
        font-size: 30px;
        font-weight: 1000;
        letter-spacing: 6px;
        line-height: 80px;
    }
    .adge-image{
        display: none;
    }
    .adge-image-mobile{
        display: block;
        text-align: center;
    }
    .adge-text{
        width: 80%;
        text-align: center;
        align-items: center;
    }
    ul.adge-bullets li::before{
        display: none;
    }

    #point2{
        margin-left: 10%;
    }
    .adgi{
        
    }
    .adgi-image{
        display: none;
    }
    .adgi-image-mobile{
        text-align: center;
    }
    .adgi-text{
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 0%;
    }
    /* ul.tap-bullets{
        list-style-type: none;
    } */
}
@media screen and (min-width: 321px) and (max-width: 760px){
    body{
        background-color: #151515;
    }
    .tap{
        text-align: center;
        align-items: center;
    }
    .tap-image img{
        width: 100%;
        margin-top: -3%;
    }
    .tap-text{
        width: 100%;
        margin-top: -30%;
        text-align: center;
        align-items: center;
    }
    .tap-bullets{
        text-align: center;
        align-items: center;
        margin-left: 15%;
        margin-right: 10%;
    }
    h1.project-title {
        font-size: 60px;
        font-weight: 1000;
        letter-spacing: 6px;
    }
    .adgi-text h2{
        font-size: 60px;
        font-weight: 1000;
        letter-spacing: 6px;
        line-height: 80px;
    }
    .adge-image{
        display: none;
    }
    .adge-image-mobile{  
        display: contents;
    }
    .adge-image-mobile img{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .adge-text{
        width: 100%;
    }
    .adgi-image img{
        width: 100%;
    }
    .adgi-text{
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 0%;
    }
    ul.tap-bullets{
        list-style-type: none;
    }
}
@media only screen and (min-width: 761px) and (max-width: 1224px){
    .tap-text{
        margin-top: -60%;
    }
    .tap-image img{
        width: 70%;
        margin-left: -10%;
    }
    .adge-image img{
        width: 80%;
    }
    .adgi-image img{
        width: 70%;
        margin-left: -10%;
    }
    .adgi-text{
        margin-left: 40%;
        margin-top: -50%;
        width: 40%;
    }
}