*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .main-container, .container{
    background-color: #1a1a1a;
    font-family: "sf_pro_displayregular";
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main-container{
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}
.main-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-nav{

    display: flex;
    padding: 2em 4em;
}
h1{
    top: 450px;
}
.girl{
    width: 500px;
    height: 500px;
    left: 375px;
    top: 20px;
    position: absolute;
    align-items: center;
}
.adglogo1{
    position: absolute;
    width: 350px;
    height: 100px;
    left: 450px;
    top: 375px;
}
.tagline{
    position: absolute;
    width: 360px;
    height: 40px;
    left: 450px;
    top: 450px;
}
.aboutus-btn{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 575px;
    top: 500px;
}
.projects-icon{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1450px;
    top: 120px;
}
.projects-btn{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1550px;
    top: 500px;
}
.events-icon{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 2450px;
    top: 120px;
}
.events-btn{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 2450px;
    top: 500px;
}
.team-icon{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 3450px;
    top: 120px;
}
.team-btn{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 3000px;
    top: 500px;
}
.container{
    width: 400vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "sf_pro_displayregular";
    color: white;
}
::-webkit-scrollbar{
display: none;
}