.home{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.home.fade-in{
    opacity: 1;
    transform: translateY(0);
}

video{
    width: 100vw;
    height: 100vh;
}

#video.back{
    backdrop-filter: blur(10px);
    background-color: black;
    transition: 0.5s;
}

#introVid{
        cursor: alias;
}


