html, body{
    height: 100%;
}
.page-wrapper{
    min-height: 100%;
}
.btn{
    padding: .5rem 1rem;
    background-color: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn:hover{
    color: white;
    background: #005255;
}
.footer{
    background-color: black;
    color: white;
    height: 350px;
    position: relative;
}
.footer .footer-content{
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}
.footer .footer-content h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer .footer-content .socials a {
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all .3s;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: .9rem 1.4rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
    background-color: #1a1a1a;
}
.footer .footer-bottom{
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}